@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  padding: 2em;
}

.glass {
  background: rgba(17, 24, 39, 0.7); /* #111827 with 70% opacity */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1); /* Optional: subtle border for better separation */
  border-radius: 16px; /* Optional: rounded corners for a soft look */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Optional: soft shadow */
}

.logo-section {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}
