@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  padding: 2em;
}
.glass {
  background: rgba(55, 19, 75, 0.6); /* Based on #37134b with 60% opacity */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.08); /* Subtle light border */
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25); /* Slightly deeper shadow for contrast */
}


.logo-section {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}
